


$marine-b: hsl(213, 96%, 18%);
$purplish-b: hsl(243, 100%, 62%);
$pastel-b: hsl(228, 100%, 84%);
$light-b: hsl(206, 94%, 87%);
$strawberry-r: hsl(354, 84%, 57%);


$c-g: hsl(231, 11%, 63%);
$l-g: hsl(229, 24%, 87%);
$mna: hsl(217, 100%, 97%);
$abt: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);